<div class="category-filter-container">
  <a routerLink="/categories/create">
    <button class="btn btn-primary text-white btn-crud-new">
      NOVA CATEGORIA
    </button>
  </a>
  <app-filter
    text="Digite o nome da categoria"
    (search)="searchCategory($event)"
  ></app-filter>
</div>
<div class="category-card">
  <div class="grid">
    <div class="col-12">
      <p-table
        [value]="categories"
        [responsive]="true"
        [paginator]="true"
        [rows]="pagination.linesPerPage"
        [lazy]="true"
        [totalRecords]="totalElements"
        (onLazyLoad)="changePage($event)"
        #categoryTable
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th class="actions"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
          <tr>
            <td class="columns">
              <span class="p-column-title">Nome:</span>
              {{ category.name }}
            </td>

            <td class="col-actions">
              <a
                pButton
                icon="pi pi-pencil"
                pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/categories', category.id]"
              ></a>
              <button
                pButton
                icon="pi pi-trash"
                pTooltip="Excluir"
                tooltipPosition="top"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
