<div class="container">
  <div class="product-filter-container">
      <button class="btn btn-primary text-white btn-crud-new">
        NOVO PRODUTO
      </button>
    <app-filter
      text="Digite o nome do produto"
      (search)="search($event)"
    ></app-filter>
  </div>
  <div class="product-card">
    <div class="grid">
      <div class="col-12">
        <p-table
          [value]="products"
          [responsive]="true"
          [paginator]="true"
          [rows]="pagination.linesPerPage"
          [lazy]="true"
          [totalRecords]="totalElements"
          (onLazyLoad)="changePage($event)"
          #productTable
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Preço</th>
              <th>Categoria</th>
              <th class="actions"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td class="columns">
                <span class="p-column-title">Nome:</span>
                {{ product.name }}
              </td>

              <td class="columns">
                <span class="p-column-title">Preço:</span>
                {{ product.price | currency:'BRL':'symbol':'1.2-2' }}
              </td>

              <td class="columns">
                <span class="p-column-title">Categoria:</span>
                <div *ngFor="let category of product.categories">
                  {{ category.name }}
                </div>
              </td>
              <td class="col-actions">
                <a
                  pButton
                  icon="pi pi-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                ></a>
                <button
                  pButton
                  icon="pi pi-trash"
                  pTooltip="Excluir"
                  tooltipPosition="top"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
