<nav class="navbar navbar-expand-md navbar-dark main-nav">
  <div class="container-fluid">
    <a routerLink="/home" class="nav-logo-text">
      <h4>Lançamentos</h4>
    </a>
    <button class="navbar-toggler" type="button" (click)="showMenu = !showMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [hidden]="!showMenu">
      <ul class="navbar-nav offset-md-2 main-menu">
        <li class="mr-2">
          <a routerLink="/home" routerLinkActive="active">
            <fa-icon icon="home" class="mr-2"></fa-icon>
            HOME
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-login-logout">
      <fa-icon icon="user" class="mr-2"></fa-icon>
      <span
        >{{ userLoggedIn }}
        <a *ngIf="userLoggedIn" href="javascript:;">
          - LOGOUT
        </a>
        <a *ngIf="!userLoggedIn" routerLink="auth/login"> LOGIN </a>
      </span>
    </div>
  </div>
</nav>
