<app-navbar></app-navbar>

<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast></p-toast>

<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" #Confirmation>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="Confirmation.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="Confirmation.reject()"></button>
  </p-footer>
</p-confirmDialog>
