<nav class="sidebar-container" *ngIf="isSidebarVisible | async">
  <div class="title">
      <h4>Administrador</h4>
  </div>
  <ul class="sidebar-items-container">
    <li>
      <a routerLink="/users/list" class="sidebar-item" routerLinkActive="active">
        <fa-icon
        icon="user"
        class="mr-2"
      ></fa-icon>
        Usuários</a
      >
    </li>
    <li>
      <a routerLink="/categories/list" class="sidebar-item" routerLinkActive="active">
        <fa-icon
        icon="user"
        class="mr-2"
      ></fa-icon>
        Categorias</a
      >
    </li>
  </ul>
</nav>
