<div class="user-form-container">
  <div class="user-card">
    <form #userForm="ngForm">
      <div class="col-12">
        <h1>Dados do Usuário</h1>
      </div>

      <div class="row user-form-inputs">
        <div class="user-form-inputs-left col-lg-6">
          <div>
            <input
              pInputText
              placeholder="Nome"
              type="text"
              name="name"
              class="form-control"
            />
          </div>

          <div class="mt-3 mb-3">
            <p-multiSelect
              [options]="roles"
              optionLabel="authority"
              optionValue="id"
              placeholder="Selecione"
              name="role"
              styleClass="form-control"
            ></p-multiSelect>
          </div>
        </div>
        <div class="user-form-inputs-right col-lg-6 mb-8">
          <div>
            <input
              pInputText
              placeholder="E-mail"
              type="email"
              name="email"
              class="form-control"
            />
          </div>

          <div class="mt-3">
            <input
              pInputText
              placeholder="Senha"
              type="password"
              name="password"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="user-form-buttons">
        <button
          type="submit"
          [disabled]="userForm.invalid"
          class="btn btn-primary user-form-button"
        >
          SALVAR
        </button>

          <button
            type="button"
            class="btn btn-outline-danger user-form-button ml-3"
          >
            CANCELAR
          </button>
      </div>
    </form>
  </div>
</div>
