<div class="user-card">
  <div class="grid">
    <div class="col-12">
      <p-table [value]="users">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Permissão</th>
            <th class="actions"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td class="columns">
              <span class="p-column-title">Nome:</span>
              {{ user.name }}
            </td>
            <td class="columns">
              <span class="p-column-title">E-mail:</span>
              {{ user.email }}
            </td>
            <td class="columns">
              <span class="p-column-title">Permissão:</span>
              {{ user.role }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
