<div class="category-form-container">
  <div class="category-card">
    <form #categoryForm="ngForm" (ngSubmit)="save()">
      <div class="col-12">
        <h1>Dados da categoria</h1>
      </div>
      <div class="row">
        <div class="category-form-inputs-left col-lg-6 mt-2">
          <div>
            <input
              pInputText
              placeholder="Nome"
              type="text"
              name="name"
              [(ngModel)]="category.name"
              #name="ngModel"
              [required]="true"
              minlength="5"
              class="form-control"
            />
          </div>

          <app-message
            [control]="name"
            error="required"
            text="Informe o nome completo"
          ></app-message>
          <app-message
            [control]="name"
            error="minlength"
            text="Mínimo de {{ name.errors?.['minlength']?.requiredLength }} caracteres."
          >
          </app-message>
        </div>
      </div>

      <div class="category-form-buttons mt-3">
        <button
          type="submit"
          [disabled]="categoryForm.invalid"
          class="btn btn-primary category-form-button"
        >
          SALVAR
        </button>

        <a routerLink="/categories/list">
          <button
            type="button"
            class="btn btn-outline-danger category-form-button ml-3"
          >
            CANCELAR
          </button>
        </a>
      </div>
    </form>
  </div>
</div>
